.table-content table {
  width: 40vw;
  color: black;
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  border: 2px solid teal;
}

.table-content td {
  border: 1px solid black;
  border-radius: 2px;
}

#row7 {
  font-weight: 600;
}

#row8 {
  font-weight: 600;
}

#row16 {
  font-weight: 600;
}
