.home-component {
  text-align: center;
}

.game-buttons {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-right: 10px;
  align-items: center;
  justify-content: center;

  text-align: center;
}
